*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 179, 226);
    color: black;
    padding: 20px;
}
li{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}
header a{
    text-decoration: none;
}
.row{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.box{
    width: 500px;
}
.btnSignup{
    background-color: rgb(240, 59, 22);
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}
.summary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.image{
    border-radius: 50px;
}
.title{
    font-size: 30px;
}
rowfirst {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}
.boxfirst 
{
    width: 32%;
    background-color: #ffffff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
}
.boxfirst:hover
{
    transform: translateY(-5px);
}
.proj 
{
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    color: #8c141a;
}
#sect 
{
    background-color: #f3e5f500;
}